.navbar {
  background-color: #e6e4ff;
  height: 95px;
  display: flex;
  justify-content: flex-start;
  position: inherit;
  align-items: center;
  margin-left: -30px;
}

.item {
  overflow-y: auto;
  margin: 0px 5px 0px 0px;
}

.item p {
  border-top: 1px solid #ffffff0d;
  padding: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.badge {
  position: absolute;
  right: 130px;
  top: 75px;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background: red;
  color: white;
  cursor: pointer;
  text-align: center;
}

.eyebutton svg {
  margin-left: -6px;
}

.menu-bars {
  margin-left: 3rem;
  margin-top: 3.8rem;
  font-size: 2rem;
  background: none;
}

.menu-bars svg {
  font-size: 22px;
}

@media (max-width: 768px) {
  .menu-bars {
    margin-top: 0rem;
  }
}

.menu-bars1 {
  margin-left: 1.3rem;
  top: 37px;
  position: absolute;
  font-size: 2rem;
  background: none;
  display: block;
}

@media (min-width: 769px) {
  .menu-bars1 {
    display: none;
  }
}

@media (max-width: 769px) {
  .menu-bars1 {
    right: 20px;
    top: 25px;
  }
}

.nav-menu {
  background-color: rgba(39, 28, 70, 255);
  max-width: 400px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}

@media (min-width: 769px) {
  .nav-menu {
    left: 0;
  }
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 3;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.navbar-toggle {
  background-color: transparent;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* setting sidebar css */

.setting-sidebar.active {
  position: fixed;
  background: #271c46;
  height: auto;
  max-width: 400px;
  width: 100%;
  padding: 0rem 2rem;
  left: 0%;
  transition: all 0.5s ease;
}

.setting-sidebar h1 {
  font-size: 40px;
  color: #fff;
  margin: 25px 0 35px;
}

.back-btn svg {
  color: #fff !important;
  font-size: 30px;
  cursor: pointer;
}

.setting-list h2 {
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #ffffff0d;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.setting-list h2 svg {
  margin-right: 5px;
  font-size: 20px;
}

.setting-list {
  margin: 30px 0;
}

.setting-list ul {
  padding: 10px 0;
  margin: 0;
}

.setting-list ul li {
  list-style: none;
}

.setting-list ul li a {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff9c;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
}

.setting-list ul li a svg {
  color: #fff !important;
}

h5 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.groupdot {
  height: 15px;
  width: 15px;
  background-color: #812eba;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  right: 30px;
}
